<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
    <title>Simple Weather</title>
</head>
<body>
	<div class="preloader">
		<div class="preloader_ball"></div>
		<div class="preloader_ball"></div>
		<div class="preloader_ball"></div>
	</div>
	<main>
			<section>
			<div class="wrapper">
				<div class="container">
					<h1>Simple Weather</h1>
                </div>
			</div>
		</section>
		
        <section>
			<div class="wrapper">
				<div class="container">
					<form id="sendme">
						
							<div class="city-row">
                                    <div class="pseudolabel adress">{{city}}</div>
									<input type="text" name ="city_ps" id="city_ps" class="custom-select" value="{{city}}">
									<span class="search_btn"></span>
                            </div>

						    <input type="hidden" name ="city" id="city" class="custom-select js-check" value="{{city}}">
								<div class="city_list">
										<span class="city-name-label" data-name="{{city}}" selected>{{city}}</span>
										<span class="city-name-label" data-name="Москва">Москва</span>
										<span class="city-name-label" data-name="Нью-Йорк">Нью-Йорк</span>
										<span class="city-name-label" data-name="Амстердам">Амстердам</span>
										<span class="city-name-label" data-name="Магадан">Магадан</span>
										<span class="city-name-label" data-name="Бангкок">Бангкок</span>
										<span class="city-name-label" data-name="Кейптаун">Кейптаун</span>
										<span class="city-name-label" data-name="Владивосток">Владивосток</span>
								</div>

									<div class="pseudolabel">Источник данных</div>
									<div class="checkcontainers">
<!--										<label class="checkcontainer">-->
<!--											Яндекс-Погода  		-->
<!--											<input type="radio" value="Yandex" id="yandex" name="weatherProvider" class="custom-control-input  js-check">-->
<!--											<span class="radiobtn"></span>-->
<!--										</label>-->

										<label class="checkcontainer">
											OpenWeather  		
											<input type="radio" value="OpenWeather" id="openWeather" name="weatherProvider" class="custom-control-input  js-check" checked>
											<span class="radiobtn"></span>
										</label>
									</div>

					</form>

				</div>
			</div>
		</section>
		
		<section>
			<div class="wrapper">
				<div class="container">

					<div class="weather-items">
					<div class="weather-item">
						<div class="weather-item-name">Температура</div>
						<div class="weather-item-val"><span class="c-temp"></span><span class="cels"><span class="cels-in"></span></span></div>
						<div class="weather-item-descr">градусы цельсия</div>
					</div><!-- 
					--><div class="weather-item">
						<div class="weather-item-name">Влажность</div>
                        <div class="weather-item-val"><span class="c-humidity"></span></div>
						<div class="weather-item-bg bg-humidity"></div>
						<div class="weather-item-descr">относительные проценты</div>

					</div><!-- 
				 --><div class="weather-item">
						<div class="weather-item-name">Ветер</div>
						<div class="weather-item-val"><span class="c-wind"></span></div>
							<div class="weather-item-descr">метры в секунду</div>
					</div><!-- 
				 --><div class="weather-item">
						<div class="weather-item-name">Облачность</div>
						<div class="weather-item-val"><span class="c-cloudness"></span></div>
						<div class="weather-item-descr">относительные проценты</div>
						<div class="weather-item-bg bg-cloudness"></div>
					</div><!-- 
				 
				 --><div class="weather-item">
						<div class="weather-item-name">Давление</div>
						<div class="weather-item-val"><span class="c-pressure"></span></div>
							<div class="weather-item-descr">гПа</div>
					</div>

				</div>
				</div>
			</div>
		</section>

        <section>
            <div class="wrapper">
                <div class="container">
                    <span class="js-upd-tm"></span><br>
                    <span class="js-upd-tm-fr"></span>
                </div>
            </div>
        </section>


	</main>
	
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>